doctype html
html
    head
        title JulianTech
        include ./jade-modules/head
        script(src="src/js/typed.js")
        script.
            $(function () {
                $('.ht-section-text-no-js').addClass('hidden')
            })
    body
        include ./jade-modules/IE8notification
        include ./jade-modules/newnavbar
        include ./jade-modules/homepage/top-section
        include ./jade-modules/homepage/productsandservices-section
        include ./jade-modules/homepage/about-section
        include ./jade-modules/scripts
        include ./jade-modules/footer

