.container.text-center
    .footerfs-row
        .footerfs-column
            ul.footerfs-ul
                li.footerfs-li
                    a(href='#').footerfs-link About us
                li.footerfs-li
                    a(href='#').footerfs-link Blog
        .footerfs-column
            ul.footerfs-ul
                li.footerfs-li
                    a(href='#').footerfs-link Product for Mac
                li.footerfs-li
                    a(href='#').footerfs-link Product for Windows
        .footerfs-column
            ul.footerfs-ul
                li.footerfs-li
                    a(href='#').footerfs-link Web analytics
                li.footerfs-li
                    a(href='#').footerfs-link Presentations
        .footerfs-column
            ul.footerfs-ul
                li.footerfs-li
                    a(href='#').footerfs-link Product Help
                li.footerfs-li
                    a(href='#').footerfs-link Developer API
    .footerss-row
        .footerss-column
            a(href='#').footerfs-link © 2013 Company Name.
        .footerss-column
            a(href='#').footerfs-link Terms of Service
        .footerss-column
            a(href='#').footerfs-link Privacy
