header.header
    .header-wrapper
        .header-container
            .header-logo
                .header-standard-logo
                    a(href='index.html')
                        img(src="http://placehold.it/126x100",alt="JulianTech Logo")
            .header-menu-wrapper
                .header-menu-list
                    .header-menu
                        -menu = {'Products and Services':'productsandservices.html','About Us':'#','Contact Us':'#'};
                        each url, title in menu
                            .header-menu-title-wrapper
                                a(href= "#{url}").header-menu-title= title
