header.header
    .header-wrapper
        .header-container
            .header-logo
                .header-standard-logo
                    img(src="http://localhost/canvas/HTML/images/logo.png",alt="JulianTech Logo")
            .header-menu-wrapper
                .header-menu-list
                    .header-menu
                            .header-menu-title-wrapper
                                a.header-menu-title Products and Services
                            .header-menu-title-wrapper
                                a.header-menu-title About Us
                            .header-menu-title-wrapper
                                a.header-menu-title Contact Us
