//Homepage Top Content
.ht-section
    .ht-section-content
        .ht-section-text
            h1.ht-section-text-js
            h1.ht-section-text-no-js We are providing alot of things for your business need
    .ht-section-bg-wrapper
        .ht-section-bg-image-and-overlay-wrapper
            .ht-section-bg-image-overlay
            .ht-section-bg-image