.about-section{

}

.about-wrapper{
  width: 1110px;
  padding: 30px;
  text-align: right;
  position: relative;
  background-color: rgba(151,206,104,1);
  font-weight: bold;
  .about-photo{
    min-height: 463px;
    background: $about-photo;
    background-size: cover;
  }
  .about-photo-image-overlay{
    position: absolute;
    height: 463px;
    width: 492px;
    background-color: rgba(50, 50, 50, 0.4);
  }
}