//Homepage Products and Services Section
.hpas-section {
  @extend .section-wrapper;
  color: white;
  &-row{
    margin: 50px auto;
    @extend .row;
  }
  &-container {
    @extend .section-container;
  }
  &-title {
    @extend .section-title;
  }
  &-item-wrapper {
    @extend .col-lg-3;
  }
  &-item {
    @extend .single-product, .vertical-align-parent;
    position: relative;
    height: 300px;
  }
  &-item-text-wrapper{
    display: table;
    height: 100%;
    z-index: 15;
    position: absolute;
  }
  &-item-text{
    display: table-cell;
    vertical-align: middle;
    z-index: 20;
    color: white;
  }
  &-item-bg-wrapper{
    top: 0;
    @extend .image-with-overlay-absolute-wrapper;
  }
  &-item-bg{
    @extend .image-with-overlay-wrapper;
  }
  &-item-bg-overlay{
    @extend .image-overlay, .image-overlay-main-color;
  }
  &-item-bg-image{
    height: 100%;
    background-image: url("../img/Untitled-1.jpg");
    background-position: center center;
    background-size: 100%;
    transition: all 2s ease;
    &-hover{
      background-size: 150%;
    }
  }
  &-item-pricing{
    font-size: 16px;
    margin-top: 8px;
  }
}