.ha-section{
  color: white;
  &-title{
    @extend .text-center,.margin-50px-vertical,.text-color-main,.text-roboto-slab;
  }
  &-wrapper{
    @extend .container,.margin-80px-vertical,.about-wrapper;
  }
  &-column{
    @extend .col-lg-6;
  }
  &-image-wrapper{
    @extend .image-with-overlay-wrapper;
  }
}

.about-wrapper{
  width: 1110px;
  padding: 30px;
  text-align: right;
  position: relative;
  background-color: rgba(151,206,104,1);
  font-weight: bold;
  .about-photo{
    min-height: 463px;
    background: $about-photo;
    background-size: cover;
  }
  .about-photo-image-overlay{
    position: absolute;
    height: 463px;
    width: 492px;
    background-color: rgba(50, 50, 50, 0.4);
  }
}