/*
.navbar{
  .navbar-container{
    width: $navbar-width;
    margin: 0 auto;
  }
}

.navbar-with-top-navbar{
  top: $top-navbar-height;
}

.navbar-default{
  transition: all 0.5s ease-in 0s;
  .navbar-nav{
    > li {
      min-width: $navbar-link-min-width;
      text-align: left;
      border-left: $navbar-link-border-left;
      padding-left: 0;
      &:hover{
        background-color: $nav-link-hover-bg;
      }
      > a{
        padding-top: $nav-link-padding-top;
        height: $nav-link-height;
        line-height: $nav-link-line-height;
        span.nav-title{
          font-size: $nav-title-font-size;
        }
        span.nav-desc{
          display: block;
          font-size: $nav-title-font-desc;
          font-weight: 300;
        }
      }
      > a:hover{
        color: $nav-link-hover-bg-text-color;
      }
    }
  }
}

.navbar-afterScroll{
  top: 0;
}
*/

%header-transition{
  -webkit-transition: height .4s ease, opacity .3s ease;
  -o-transition: height .4s ease, opacity .3s ease;
  transition: height .4s ease, opacity .3s ease;
}

%header-height{
  height: 100px;
}

.header{
  border-bottom-color: #EEE;
  @extend %header-transition;
  background-color: #FFF;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #F5F5F5;
  @extend .position-relative,%header-height;
  &-wrapper{

    width: 100%;
    @extend %header-transition, .position-relative, %header-height;
  }
  &-container{
    width: 100%;
    padding: 0 30px;
    @extend .position-relative;
  }
  &-logo{
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #EEE;
    float: left;
    font-size: 36px;
    line-height: 100%;
    @extend %header-transition, .position-relative;
  }
  &-standard-logo{
    display: block;
    color: #000;
    max-width: 100%;
    height: 100%;
    @extend %header-transition, %header-height;
  }
  &-menu-wrapper{
    @extend %header-height, %header-transition;
    float: right;
  }
  &-menu-list{
    float: left;
    padding-right: 15px;
    margin-right: 15px;
    list-style: none;
    @extend %header-transition, %header-height;
  }
  &-menu{
    position: relative;
    float: left;
    list-style: none;
  }
  &-menu-title-wrapper{
    position: relative;
    float: left;
    margin-left: 2px;
  }
  &-menu-title{
    display: block;
    @extend %header-height;
    line-height: 100px;
    padding: 0 15px;
    color: #444;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}