.text-white{
  color: white;
}

.text-color-main{
  color: $theme-color;
}

.text-color-base-color-2{
  color: $base-color-2;
}

.text-color-base-color-4{
  color: $base-color-4;
}

.text-roboto-slab{
  font-family: "Roboto Slab",sans-serif;
}

.text-bold{
  font-weight: bold;
}